*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.profile-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    gap:4rem;
    height: 100vh;
}

.title{
    color: rgb(207, 205, 205);
    font-size: 3rem;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 11rem;
    text-align: center;
    color: rgb(168, 166, 166);
    gap: 10px;
}

img{
    width: 11rem;
    height: 11rem;
}

.btn-config-profile {
    border: 1px solid rgba(164, 154, 154, 0.824);
    padding: 8px 30px 8px 30px;
    font-size: 15px;
    background: none;
    color: rgba(164, 154, 154, 0.824);

}