.container-app{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}